/*  ==========================================================================
    Navigation
    ========================================================================== */

    @media only screen  {

        /*  Header
            ========================================================================== */
            .header {
                width: 100%;
                height: auto;
                padding: 10px 0;
                display: block;
                background-color: #00446c;
                top: 0;
            }

            .header-logo {
                margin: 0 0 20px;
                padding: 0;
                display: block;
                width: 100%;
                float: left;
                text-align: center;
            }

            .header-logo a { margin-left: 20px; }

            .share-buttons {
                width: 100%;
                padding: 0;
                margin: 0;
                text-align: center;
                list-style: none;
                display: block;
                float: right;
            }

            .share-buttons li {
                display: inline-block;
                vertical-align: top;
                width: 100px;
                text-align: left;
                margin-top: 5px;
            }

            .share-buttons .gplus { width: 75px; }
            .share-buttons .facebook { width: 180px; }

    }

    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Header
            ========================================================================== */
            .header {
                height: 55px;
                position: fixed;
                z-index: 10000;
            }

            .header-logo,
            .header-logo a,
            .header-logo img { display: block; }

            .header-logo {
                margin: 0;
                width: 30%;
                text-align: left;
            }

            .share-buttons {
                width: 70%;
                text-align: right;
            }

            .share-buttons li:last-child { margin-right: 20px; }

   }
