/*  ==========================================================================
    Animation
    ========================================================================== */

    /*  Graph intro
        ========================================================================== */
        .graph-intro .title { @include animation(fadeInDown 1s ease both); }
        .graph-intro .subtitle { @include animation(fadeInLeft 1s ease 0.5s both); }
        .graph-intro .numbers-01 .box,
        .graph-intro .numbers-02 .box { @include animation(zoomIn 1s ease 1s both); }
        .graph-intro .numbers-01 .tweets-number,
        .graph-intro .numbers-02 .tweets-number { @include animation(fadeIn 1s ease 1.25s both); }
        .graph-intro .numbers-01 .tweets,
        .graph-intro .numbers-02 .tweets { @include animation(fadeIn 1s ease 2.25s both); }
        .graph-intro .numbers-01 .where,
        .graph-intro .numbers-02 .where { @include animation(fadeInDown 1s ease 2.5s both); }

    /*  Products
        ========================================================================== */
        .products-title { @include animation(fadeIn 1s ease both); }
        .products-list li:nth-child(1) .product-image { @include animation(fadeInDown 0.5s ease-out both 0.5s); }
        .products-list li:nth-child(1) .title { @include animation(fadeInRight 1s ease both 0.75s); }
        .products-list li:nth-child(1) .percentage { @include animation(fadeInUp 1s ease both 1s); }
        .products-list li:nth-child(2) .product-image { @include animation(fadeInDown 0.5s ease-out both 1s); }
        .products-list li:nth-child(2) .title { @include animation(fadeInRight 1s ease both 1.25s); }
        .products-list li:nth-child(2) .percentage { @include animation(fadeInUp 1s ease both 1.5s); }
        .products-list li:nth-child(3) .product-image { @include animation(fadeInDown 0.5s ease-out both 1.5s); }
        .products-list li:nth-child(3) .title { @include animation(fadeInRight 1s ease both 1.75s); }
        .products-list li:nth-child(3) .percentage { @include animation(fadeInUp 1s ease both 2s); }

        .dashed-line polyline { @include animation(dash 3s ease both); }

        .body-iphone { @include animation(fadeIn 1s ease both 3s); }

        .iphone-vertical .first-line rect { @include animation(fadeIn 0.25s ease both 3.5s); }
        .iphone-vertical g line { @include animation(dash 1s ease both 3.5s); }
        .iphone-vertical .second-line rect { @include animation(fadeIn 0.25s ease both 3.75s); }

        .iphone-horizontal .first-line rect { @include animation(fadeIn 0.25s ease both 3.75s); }
        .iphone-horizontal g line { @include animation(dash 1s ease both 3.75s); }
        .iphone-horizontal .second-line rect { @include animation(fadeIn 0.25s ease both 4s); }

        .iphone-line .first-arrow polygon { @include animation(fadeIn 0.25s ease both 4.5s); }
        .iphone-line g line { @include animation(dash 1s ease both 4.5s); }
        .iphone-line .second-arrow polygon { @include animation(fadeIn 0.25s ease both 4.75s); }

        .iphone-details { @include animation(fadeIn 1s ease both 5s); }

        .ico-lupa { @include animation(fadeInUp 1s ease both 5.5s); }
        .hold-width { @include animation(fadeIn 1s ease both 6s); }

        .heart .ico-coracao { @include animation(fadeIn 1s ease both 6.5s); }
        .heart .numbers { @include animation(fadeInDown 1s ease both 6.75s); }
        .heart .text { @include animation(fadeInLeft 1s ease both 7s); }
        
        .ico-android { @include animation(fadeInLeft 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both 8s); }
        .hold-android polyline { @include animation(dash 2s ease both 8.5s); }
        .hold-android .detail-number { @include animation(fadeIn 1s ease both 9s); }
        .hold-android .detail-text { @include animation(fadeIn 1s ease both 9s); }

        .hold-colors polyline { @include animation(dash 2s ease both 10.25s); }
        .hold-colors .detail-number { @include animation(fadeIn 1s ease both 11s); }
        .hold-colors .detail-text { @include animation(fadeIn 1s ease both 11s); }

        .hold-hardware { @include animation(fadeIn 1s ease both 11.5s); }

    /*  Tweets
        ========================================================================== */
        .title-tweets { @include animation(fadeIn 1s ease both); }
        .genre-male .genre-ico { @include animation(fadeInRight 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both 0.5s) }
        .genre-male .genre-details { @include animation(fadeInDown 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both 0.75s) }
        .genre-female .genre-ico { @include animation(fadeInRight 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both 1s) }
        .genre-female .genre-details { @include animation(fadeInDown 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both 1.25s) }

        .state-sp .img-state { @include animation(fadeInDown 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both 1.5s); }
        .state-rj .img-state { @include animation(fadeInRight 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both 1.65s); }
        .state-mg .img-state { @include animation(fadeInLeft 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both 1.80s); }
        .state-rs .img-state { @include animation(fadeInUp 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both 2.05s); }

        .state-sp .title { @include animation(fadeIn 1s ease 2.25s both); }
        .state-sp .numbers { @include animation(fadeIn 1s ease 2.35s both); }
        .state-rj .title { @include animation(fadeIn 1s ease 2.45s both); }
        .state-rj .numbers { @include animation(fadeIn 1s ease 2.55s both); }
        .state-mg .title { @include animation(fadeIn 1s ease 2.65s both); }
        .state-mg .numbers { @include animation(fadeIn 1s ease 2.75s both); }
        .state-rs .title { @include animation(fadeIn 1s ease 2.85s both); }
        .state-rs .numbers { @include animation(fadeIn 1s ease 2.95s both); }

    /*  Speakers
        ========================================================================== */
        .speakers .title { @include animation(fadeIn 1s ease both); }
        .speaker:nth-of-type(1) img { @include animation(flipInY 1.5s ease 0.75s both); }
        .speaker:nth-of-type(2) img { @include animation(flipInY 1.5s ease 1s both); }
        .speaker:nth-of-type(3) img { @include animation(flipInY 1.5s ease 1.25s both); }
        .speaker:nth-of-type(4) img { @include animation(flipInY 1.5s ease 1.5s both); }
        .speaker img { @extend %back-face; }

        .speaker:nth-of-type(1) .speaker-name {
            @include animation(fadeInUp 0.75s ease 0.85s both);
        }
        .speaker:nth-of-type(2) .speaker-name {
            @include animation(fadeInUp 0.75s ease 1.10s both);
        }
        .speaker:nth-of-type(3) .speaker-name {
            @include animation(fadeInUp 0.75s ease 1.35s both);
        }
        .speaker:nth-of-type(4) .speaker-name {
            @include animation(fadeInUp 0.75s ease 1.60s both);
        }

    /*  Graph end
        ========================================================================== */
        .end-title { @include animation(fadeIn 1s ease 0.25s both); }
        .list-apps li:nth-child(1) img { @include animation(fadeInDown 0.75s ease 0.5s both); }
        .list-apps li:nth-child(1) .numbers { @include animation(fadeIn 1s ease 0.85s both); }
        .list-apps li:nth-child(1) .text { @include animation(fadeInRight 1s ease 0.90s both); }
        .list-apps li:nth-child(2) img { @include animation(fadeInDown 0.75s ease 1.15s both); }
        .list-apps li:nth-child(2) .numbers { @include animation(fadeIn 1s ease 1.5s both); }
        .list-apps li:nth-child(2) .text { @include animation(fadeInRight 1s ease 1.55s both); }
        .list-apps li:nth-child(3) img { @include animation(fadeInDown 0.75s ease 1.80s both); }
        .list-apps li:nth-child(3) .numbers { @include animation(fadeIn 1s ease 2.15s both); }
        .list-apps li:nth-child(3) .text { @include animation(fadeInRight 1s ease 2.25s both); }
        .tim-cook .line blockquote { @include animation(2s fadeIn ease both 2.4s); }
        .tim-cook .line path { @include animation(2s dash ease-out both 2.5s); }
        .logo-footer { @include animation(fadeInLeft 1s ease 2.75s both); }
        .slogan { @include animation(fadeInUp 1s ease 3s both); }
        .credit { @include animation(fadeIn 1s ease 3.5s both); }
        

/*  ==========================================================================
    Controls
    ========================================================================== */
    .step.preload .animated,
    .step.preload .animated {
        -webkit-animation-play-state: paused!important;
           -moz-animation-play-state: paused!important;
            -ms-animation-play-state: paused!important;
             -o-animation-play-state: paused!important;
                animation-play-state: paused!important;
    }

    .step .animated {
        -webkit-animation-play-state: running;
           -moz-animation-play-state: running;
            -ms-animation-play-state: running;
             -o-animation-play-state: running;
                animation-play-state: running;
    }