/*  ==========================================================================
    Layout
    ========================================================================== */

    @media only screen {

    	body { overflow-x: hidden; }
		
		/*  Intro
		    ========================================================================== */
		    .graph-intro {
		    	padding-top: 10px;
		    	padding-bottom: 30px;
		    	@include simple-vertical-gradient(#2a2a2a, #505050);
		    }

		    .graph-intro .hold-graph {
		    	padding-left: 30px;
		    	padding-right: 30px;
		    }

		    .logo-a2 {
		    	max-width: 125px;
		    	margin-left: auto;
		    	margin-right: auto;
		    	margin-bottom: 10px;
		    }

		    .graph-intro .title {
		    	font-size: 84px;
		    	line-height: 0.8;
		    	margin: 0 0 40px 0;
		    	letter-spacing: -4px;
		    }

		    .graph-intro .subtitle {
		    	font-size: 32px;
		    	letter-spacing: -1px;
		    	line-height: 40px;
		    	margin: 0;
		    	font-weight: 400;
		    }

		    /*  Box
		        ========================================================================== */
		        .hold-box { padding-top: 15px; }

		        .box-number {
		        	color: #fff;
		        	font-weight: 300;
		        }

		        .box-number + .box-number { margin-top: 35px; }

		        .box {
		        	padding: 25px 5px;
		        	text-align: center;
		        	border: solid 2px #fff;
		        	@include border-radius(10px);
		        }

		        .box .tweets-number {
		        	font-size: 52px;
		        	line-height: 1;
		        }

		        .box .tweets {
		        	font-size: 40px;
		        	line-height: 0.9;
		        	background-color: transparent;
		        }

		        .where {
		        	text-align: center;
		        	font-size: 40px;
		        	display: block;
		        }

		        .numbers-02 .tweets-number { position: relative; }
		        .numbers-02 .tweets-number:after {
		        	content: "*";
		        	position: absolute;
		        	right: 5px;
		        	top: -20px;
		        }

		/*  Products
		    ========================================================================== */
		    .products {
		    	padding-top: 25px;
		    	padding-bottom: 20px;
		    	@include simple-vertical-gradient(#cacac8, #ebebe9);
		    }

		    .products-title {
		    	margin: 0 0 20px;
		    	text-align: center;
		    	color: #000;
		    	letter-spacing: -2px;
		    	line-height: 38px;
		    	font-weight: 300;
		    }

		    .products-description {
		    	font-size: 20px;
		    	line-height: 1.3;
		    	text-align: center;
		    }

		    .products-list {
		    	margin: 0;
		    	padding: 20px 0;
		    	list-style: none;
		    	text-align: center;
		    }

		    .products-list li + li { margin-top: 25px; }

		    .product-image {
		    	display: block;
		    	margin: 0 auto;
		    }

		    .products-list .title {
		    	font-size: 30px;
		    	color: #000;
		    	line-height: 1;
		    	padding-top: 3px;
		    	padding-bottom: 3px;
		    }

		    .products-list .percentage {
		    	color: #007aff;
		    	font-size: 44px;
		    	line-height: 1;
		    	padding-top: 5px;
		    	font-weight: 300;
		    }

		    .products-list .title.most-rated { position: relative; }
		    .products-list .title.most-rated:before {
		    	position: absolute;
		    	top: -20px;
		    	right: -20px;
		    	content: "1";
		    	background-color: #ff2a00;
		    	color: #fff;
		    	font-size: 32px;
		    	line-height: 32px;
		    	padding: 2px 10px;
		    	text-align: center;
		    	@include border-radius(50%);
		    }

		    .product-details {
		    	text-align: center;
		    	line-height: 1.1;
		    	padding: 10px;
		    	color: #fff;
		    	font-size: 20px;
		    	background-color: rgba(0,0,0, .3);
		    	@include border-radius(10px);
		    	width: auto;
		    	max-width: 160px;
		    	margin-left: auto;
		    	margin-right: auto;
		    }

		    .hold-iphone {
		    	position: relative;
		    	text-align: center;
		    	margin-bottom: 25px;
		    }

		    .detail-number,
		    .detail-text {
		    	color: #fff;
		    	line-height: 1;
		    }

		    .detail-number {
		    	font-size: 36px;
		    	font-weight: 400;
		    }

		    .detail-text {
		    	font-size: 26px;
		    	font-weight: 200;
		    }

		    .iphone-details {
		    	position: absolute;
		    	top: 100px;
		    	width: 260px;
		    	left: 50%;
		    	margin-left: -130px;
		    }

		    .iphone-line,
		    .ico-lupa,
		    .dashed-line,
		    .hold-android .line,
		    .hold-colors .line,
		    .iphone-vertical,
		    .iphone-horizontal { display: none; }

		    .heart {
		    	max-width: 260px;
		    	margin: 20px auto;
		    	text-align: center;
		    	color: #007aff;
		    }

		    .heart .numbers {
		    	font-size: 72px;
		    	line-height: 1;
		    	letter-spacing: -2px;
		    }

		    .heart .text {
		    	font-size: 28px;
		    	line-height: 0.9;
		    }

		    .heart .text span {
		    	font-size: 46px;
		    	letter-spacing: -1px;
		    }
			
			.product-black { text-align: center; }
		    .product-black > span { color: #000; }

		    .hold-colors { margin: 25px 0; }

		/*  Tweets
		    ========================================================================== */
		    .tweets { background-color: #f7f7f7; }

		    .tweets .title {
		    	color: #000;
		    	line-height: 1;
		    	margin: 15px 0;
		    	font-size: 32px;
		    	text-align: center;
		    	font-weight: 300;
		    	letter-spacing: -1px;
		    }


		    .genre {
		    	padding: 30px 10px;
		    	text-align: center;
		    }

		    .genre-details {
		    	display: block;
		    	font-size: 60px;
		    	line-height: 1;
		    	color: #007aff;
		    }

		    .genre-details span {
		    	color: #666;
		    	font-size: 48px;
		    	line-height: 0.6;
		    	font-weight: 200;
		    	display: block;
		    }

		    .hold-states { background-color: #fff; }

		    .state {
		    	padding: 20px 0;
		    	text-align: center;
		    }

		    .state .numbers {
		    	color: #007aff;
		    	font-size: 24px;
		    	line-height: 0.6;
		    	font-weight: 200;
		    }

		    .tweets .state .title {
		    	color: #000;
		    	font-size: 28px;
		    	margin: 0;
		    	line-height: 1;
		    }

		/*  Speakers
		    ========================================================================== */
		    .speakers {
		    	background-color: #ce8c8b;
		    	padding: 10px 0 20px 0;
		    }

		    .speakers .title {
		    	font-size: 38px;
		    	line-height: 1;
		    	text-align: center;
		    	margin: 0 0 20px;
		    	letter-spacing: -2px;
		    	font-weight: 300;
		    }

		    .speaker img {
		    	@include border-radius(50%);
		    	border: solid 6px rgba(255, 255, 255, .45);
		    }

		    .speaker { text-align: center; }
		    .speaker + .speaker { margin-top: 25px; }

		    .speaker-name {
		    	text-align: center;
		    	padding-top: 10px;
		    	margin: 0;
		    	font-size: 24px
		    }

		    .speaker p {
		    	text-align: center;
		    	margin: 0;
		    	color: #fff;
		    	font-size: 18px;
		    	font-weight: 200;
		    	text-shadow: 1px 1px 0 #888;
		    }

		    .speaker p a {
		    	color: #007aff;
		    	display: block;
		    }

		/*  End
		    ========================================================================== */
		    .graph-end {
		    	position: relative;
		    	padding-top: 25px;
		    	@include simple-vertical-gradient(#2a2a2a, #505050);
		    }

		    .graph-end .hold-graph { position: relative; }

		    .end-title {
		    	margin: 0 0 15px;
		    	font-size: 38px;
		    	letter-spacing: -2px;
		    	font-weight: 300;
		    }

		    .list-apps {
		    	margin: 0;
		    	padding: 0;
		    	list-style-type: none;
		    	color: #fff;
		    	font-size: 28px;
		    	line-height: 32px;
		    }

		    .list-apps li { overflow: hidden; }
		    .list-apps li + li { margin-top: 20px; }

		    .list-apps img {
		    	float: left;
		    	margin-right: 15px;
		    	position: relative;
		    	z-index: 1;
		    }

		    .list-apps .numbers {
		    	font-size: 40px;
		    	line-height: 1;
		    	font-weight: 200;
		    }

		    .list-apps .text {
		    	font-size: 30px;
		    	line-height: 0.9;
		    }

		    .tim-cook {
		    	position: relative;
		    	padding-top: 25px;
		    	text-align: center;
		    }

		    .tim-cook .tim { max-width: 100%; }

		    .tim-cook .line svg { display: none; }

		    .tim-cook .line blockquote {
		    	color: #fff;
		    	margin: 0 0 10px;
		    	font-size: 46px;
		    	line-height: 40px;
		    	font-weight: 300;
		    	text-align: center;
		    }

		    .about {
		    	text-align: center;
		    	color: #fff;
		    	background-color: #333;
		    	padding: 15px 0;
		    	font-size: 18px;
		    	font-family: 'Raleway', sans-serif;
		    }

		    .logo-footer { margin-bottom: 15px; }
		    .slogan a {
		    	padding-top: 4px;
		    	text-decoration: underline;
		    	font-family: Arial,sans-serif;
		    }

		    .credit {
		    	padding-top: 10px;
		    	color: #fff;
		    	font-size: 16px;
		    }
    }


    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

    	/*  Cover
    	    ========================================================================== */
    	    .ie7 .cover,
    	    .ie8 .cover,
    	    .ie9 .cover,
    	    .ie7 .container-graph > div,
    	    .ie8 .container-graph > div,
    	    .ie9 .container-graph > div { display: none; }

    	    .cover {
    	    	position: fixed;
    	    	background-color: #666;
    	    	@include simple-vertical-gradient(#2a2a2a, #505050);
    	    	width: 100%;
    	    	height: 100%;
    	    	z-index: 99999;
    	    	@include transition(all 2s ease);
    	    }

    	    .cover:after {
    	    	position: absolute;
    	    	left: 50%;
    	    	top: 50%;
    	    	width: 200px;
    	    	height: 35px;
    	    	margin: 25px 0 0 -100px;
    	    	content: "Carregando";
    	    	color: #999;
    	    	text-align: center;
    	    	@include animation(startLoading 1s ease infinite alternate);
    	    }

    	    .cover:before {
    	    	content: "";
    	    	left: 0;
    	    	top: 0;
    	    	width: 100%;
    	    	height: 100%;
    	    	position: absolute;
    	    	background: url(../img/a2.svg) center center no-repeat;
    	    	@include background-size(300px auto);
    	    }

    	    .cover.loaded {
    	    	@include transform(translateY(-100%));
    	    }

    	/*  Products
    	    ========================================================================== */
    	    .products { padding-bottom: 0; }
    	    .products-title { font-size: 48px; }
    	    .products-description { font-size: 28px; }

    	    .products-list li + li { margin-top: 0; }

    	    .products-list .title {
    	    	padding: 5px 15px;
    	    	display: inline-block;
    	    	border: solid 1px #000;
    	    	@include border-radius(10px);
    	    }

    	    .product-info {
    	    	position: relative;
    	    	padding-top: 15px;
    	    	background: url(../img/linhas.svg) top center no-repeat;
    	    	min-height: 775px;
    	    	@include background-size(100% auto);
    	    }

    	    .product-details { max-width: 150px; }

    	    .hold-iphone {
    	    	left: -47px;
    	    	position: relative;
    	    	z-index: 1;
    	    }

    	    .dashed-line {
    	    	z-index: 3;
    	    	overflow: hidden;
    	    	display: block;
    	    	position: absolute;
    	    	top: -175px;
    	    	left: 45px;
    	    }

    	    .ico-lupa,
    	    .hold-width,
    	    .heart,
    	    .hold-android,
    	    .hold-colors,
    	    .ico-android { position: absolute; }

    	    .ico-lupa {
    	    	display: block;
    	    	top: 114px;
				left: 85px;
    	    }

    	    .hold-width {
    	    	top: 220px;
				left: 10px;
    	    }

    	    .heart {
    	    	top: 13px;
				right: 20px;
    	    }

    	    .hold-android {
    	    	width: 225px;
    	    	text-align: left;
    	    	top: 300px;
    	    	right: 10px;
    	    }

    	    .hold-android .line {
    	    	display: block;
    	    	margin: 10px 0 0 0;
    	    }

    	    .ico-android {
    	    	right: 180px;
				top: 137px;
    	    }

    	    .hold-colors {
    	    	width: 150px;
    	    	text-align: left;
    	    	top: 560px;
    	    	right: 55px;
    	    }

    	    .hold-colors .line {
    	    	display: block;
				position: absolute;
				top: 5px;
				left: -112px;
				z-index: 2;
    	    }

    	    .iphone-line {
    	    	top: 85px;
    	    	left: 50%;
    	    	margin-left: -125px;
    	    	position: absolute;
    	    	display: block;
    	    	z-index: 3;
    	    }

    	    .iphone-details {
    	    	top: 43%;
    	    	left: 55%;
    	    	width: 220px;
    	    	height: 95px;
    	    	margin: -47px 0 0 -110px;
    	    	z-index: 3;
    	    	@include transform(rotate(62deg));
    	    }

    	    .iphone-vertical,
		    .iphone-horizontal {
		    	display: block;
		    	position: absolute;
		    }

		    .iphone-vertical {
		    	top: 0;
		    	left: 210px;
		    }

		    .iphone-horizontal {
		    	top: 615px;
		    	left: 241px;
		    }

		    .hold-hardware {
		    	position: relative;
		    	top: 10px;
		    	left: -30px;
		    }

    	/*  Tweets
    	    ========================================================================== */
    	    .tweets .title { font-size: 42px; }

			.hold-genre { border-bottom: none; }

    	    .genre {
    	    	text-align: left;
    	    	padding: 50px 5px 65px 15px;
    	    }

    	    .genre-ico {
    	    	float: left;
    	    	margin-right: 10px;
    	    }

			.hold-states {
				padding-top: 10px;
				padding-bottom: 10px;
			}

    	    .state { padding: 5px 0 10px; }
    	    .state-rj .img-state { padding-top: 30px; }
    	    .state-mg .img-state { padding-top: 5px; }
    	    .state-rs .img-state { padding-top: 25px; }

    	    .hold-states {
    	    	border-top: solid 1px #dedede;
    	    	border-left: solid 1px #dedede;
    	    }

    	    .genre { border-top: solid 1px #dedede; }
		
		/*  Speakers
		    ========================================================================== */
		    .speakers {
		    	background-image: url(../img/bg-linhas.jpg);
		    	background-repeat: center center;
		    	background-repeat: no-repeat;
		    }

		    .speaker {
		    	padding-left: 10px;
		    	padding-right: 10px;
		    }

		    .speaker + .speaker { margin-top: 0; }

		    .speakers .title { font-size: 48px; }
		    .speaker-name {
		    	font-size: 32px;
		    	line-height: 1;
		    }

    	/*  End
    	    ========================================================================== */
    	    .graph-end .hold-graph { overflow: hidden; }

    	    .end-title {
    	    	font-size: 48px;
    	    	margin-bottom: 0;
    	    }

    	    .tim-cook {
    	    	position: absolute;
    	    	right: -10px;
    	    	bottom: 0;
    	    	overflow: hidden;
    	    	z-index: 1;
    	    }

    	    .tim-cook .line {
		    	max-width: 195px;
				position: absolute;
				right: 80px;
				top: 50px;
		    }

		    .tim-cook .line blockquote {
		    	text-align: left;
		    	text-indent: -10px;
		    }
			
			.tim-cook .line svg { display: block; }

		    .tim-cook .line path,
		    .iphone-line g line,
		    .iphone-vertical g line,
		    .iphone-horizontal g line,
		    .hold-android polyline,
		    .hold-colors polyline,
		    .dashed-line polyline {
		    	stroke-dasharray: 1000;
				stroke-dashoffset: 1000;
		    }

		    .list-apps {
		    	width: 415px;
		    	margin: 20px 0 5px;
		    }

		    .about {
		    	width: 100%;
		    	background-color: transparent;
		    }

		    .logo-footer {
		    	bottom: 37px;
			    position: absolute;
			    right: 10px;
		    }

		    .slogan { text-align: left; }
		    .slogan a { padding-top: 2px; }

		    .credit {
		    	padding: 0 0 10px 0;
		    }
    }
