/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  ==========================================================================
        Grid
        ========================================================================== */
        $gridWidth  : 800px;
        $breakpoint : 768px;
        $space      : 25px;